{% extends 'base.html.twig' %}

{% block title %}Welcome Ricardo Perez{% endblock %}
{% block stylesheets %}
<link href="{{ asset('/styles/home.css') }}" rel="stylesheet" />
    
{% endblock %}
{% block body %}
 
<section class="Home">
      <div class="Home_wrapper">
      <div class="Home_wrapper_msg">
         <span>
          Biembenido al sistema web exagonal.
         </span>
         <b>
          Ingrese sus Credenciales
         </b>
         {% if ErrorMessage  %}
         <span class="Home_wrapper_msg-error">
         {{ ErrorMessage }} 
       </span>{% endif %}
       </div>
        <div class="Home_wrapper_form">
       {{ form_start(Loguin, {'action': '/processloguin', 'method': 'POST'}) }}
       {{ form_widget(Loguin) }} 
      <input type="submit" value="entrar" /> 
      {{ form_end(Loguin) }}
      </div>
       </div>
      
</section>
{% endblock %}