{% extends 'base.html.twig' %}

  
{% block body %}
  {% include 'templateParts/bar.html.twig' %}
  

  <section class="backend-pannel">
    <aside class="backend-pannel-aside">
      <ul class="backend-pannel-aside-ul">
        <li class="backend-pannel-aside-ul-li">
          <div class="backend-pannel-aside-ul-li-wrapper">
            <div class="backend-pannel-aside-ul-li-wrapper-icon">
              <a href="{{ path('app_home') }}"><i class="fa-solid fa-house-user"></i></a> 
            </div>
            <div class="backend-pannel-aside-ul-li-wrapper-anchor">
              <a href="{{ path('app_home') }}">home</a>
            </div>
          </div>
        </li>
        <li class="backend-pannel-aside-ul-li">
          <div class="backend-pannel-aside-ul-li-wrapper">
            <div class="backend-pannel-aside-ul-li-wrapper-icon">
              <a href="{{ path('app_home') }}"><i class="fa-solid fa-shield-halved"></i></a>
            </div>
            <div class="backend-pannel-aside-ul-li-wrapper-anchor">
              <a href="{{ path('app_home_sections') }}">home section</a>
            </div>
          </div>
          <ul class="backend-pannel-aside-ul-li-ul">
            <li class="backend-pannel-aside-ul-li-ul-li">
            <a href="{{ path('app_home_section_list') }}">home section list </a></li> 
            <li class="backend-pannel-aside-ul-li-ul-li">
            <a href="{{ path('app_home_design_list') }}">Design list </a></li> 
            <li class="backend-pannel-aside-ul-li-ul-li">
            <a href="{{ path('app_home_web_list') }}">Web list </a></li> 
          </ul>
        </li>
        <li class="backend-pannel-aside-ul-li">
          <div class="backend-pannel-aside-ul-li-wrapper">
            <div class="backend-pannel-aside-ul-li-wrapper-icon">
               <a href="{{ path('app_blog_list') }}"><i class="fa-solid fa-file-lines"></i></a> 
            </div>
            <div class="backend-pannel-aside-ul-li-wrapper-anchor">
              <a href="{{ path('app_blog_list') }}">blogs</a>
            </div>
          </div>
            <ul class="backend-pannel-aside-ul-li-ul">
            <li class="backend-pannel-aside-ul-li-ul-li"><a href="{{ path('app_metadata') }}">Metadata</a></li> 
             <li class="backend-pannel-aside-ul-li-ul-li"><a href="{{ path('app_newblog') }}">New Blog</a></li> 
            <li class="backend-pannel-aside-ul-li-ul-li"><a href="{{ path('app_blog_list') }}">Blog List</a></li> 
          </ul>
        </li>
        <li class="backend-pannel-aside-ul-li">
          <div class="backend-pannel-aside-ul-li-wrapper">
            <div class="backend-pannel-aside-ul-li-wrapper-icon">
              <a href="#"><i class="fa-regular fa-comment"></i></a> 
            </div>
            <div class="backend-pannel-aside-ul-li-wrapper-anchor">
              <a href="#">comentarios</a>
            </div>
          </div>
        </li>
        <li class="backend-pannel-aside-ul-li">
          <div class="backend-pannel-aside-ul-li-wrapper">
            <div class="backend-pannel-aside-ul-li-wrapper-icon">
             <a href="#"><i class="fa-solid fa-photo-film"></i></a> 
            </div>
            <div class="backend-pannel-aside-ul-li-wrapper-anchor">
             <a href="{{ path('app_media') }}">media</a>
            </div>
          </div>
        </li>
      </ul>
    </aside>

    <section class="backend-pannel-body">
      <div id="backend-pannel-body-wrapper">
        {% block backendBody %}
        {% endblock %}
      </div>
    </section>
  </section>
{% endblock %} 
