{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <h1>Change password</h1>
    {% if app.user %}
      <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
      </div>
    {% endif %}
    {{ error }}

    {{ form_errors(changePasswordForm) }}

    {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn">Change password</button>
    {{ form_end(changePasswordForm) }}
{% endblock %}
